#hero{
    display: flex;
    padding: 0 2rem;
    flex-direction: column; /* apila verticalmente */
    justify-content: center; /* centra en eje Y */
    align-items: center;     /* centra en eje X */
    
}











