#heroInformation {
  padding: 5rem 10rem;
  align-items: center;
}

#miniRubros {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 3 columnas iguales */
  gap: 2rem;
}

.rubro {
  display: flex;
  align-items: center;
}

.rubro img {
  max-width: 5rem;
}
