/* Navbar A*/
.navA {
width: 100%;
background-color: #1E2749;
color: white;
padding: 0.3rem 1.2rem;
z-index: 999; 

display: flex;              
justify-content: space-between; 
align-items: center;       
}

#navAleft {
display: flex;
gap: 0.6rem; /* espacio entre íconos */
}

#navAright {
display: flex;
}

.iconsA {
display: inline-block;
color: white; 
cursor: pointer;
font-size: 0.8rem;
transition: 0.3s ease, transform 0.2s ease;
}



#navALeft a {
  text-decoration: none; 
}

.iconsA:hover {
  transform: scale(1.2); 
}


