/* Navbar B*/ 
.navB { 
width: 100%; 
background-color: #273469; 
position: sticky; 
top: 0; 
z-index: 1000; /* por sobre el contenido */ 
padding: 0 2.5rem;

display: flex;
justify-content: space-between; /* espacio entre elementos extremos */ 
align-items: stretch; /* centrar verticalmente */ 
} 


.navB button {
color: white;
background: transparent;
border: none;
height: 100%;
padding: 0 1.5rem;

cursor: pointer;  /* hover props */
transition: all 0.5s ease;
}


.navB #logo {
height: 100%;          
padding: 0 1rem;   

display: flex;          /* flex para centrar la imagen */
align-items: center;    

transition: all 0.5s ease;  /* hover props */
cursor: pointer;
}


.navB #logo img {
  height: 65px;           /* tamaño real del logo */        
}

.navB a {
  text-decoration: none;  /* ignora estilos link */
}



/* Hover */
.navB button:hover { 
background: #ffffff22; 
box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.4);
} 

.navB #logo:hover { 
background: #ffffff22;
box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.4);
}




/* Dropdown */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdownContent {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #273469;
  flex-direction: column;
  min-width: 150px;
  box-shadow: 0px 2px 6px rgba(0,0,0,0.3);
  z-index: 1001;

  opacity: 0;
  transform: scaleY(0);
  transform-origin: top;
  transition: transform 0.5s ease, opacity 0.5s ease;
  pointer-events: none;
}

.dropdown:hover .dropdownContent,
.dropdownContent:hover {
  opacity: 1;
  transform: scaleY(1);
  pointer-events: auto; 
}


/* botones dentro del dropdown */
.dropdownContent button {
  width: 100%;
  font-size: medium;
  text-align: left;
  padding: 0.5rem 0.5rem;
  background: transparent;
  border: none;
}

.dropdownContent button:hover {
  background: #ffffff44;
}